#canvas {
	display: block;
	border-bottom: 1px solid blue;
	margin: 50px auto;
}

h1 {
  color: #21043C;
  font-size: 40px;
  font-family: "Lobster", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  color: #21043C;
  font-size: 30px;
  font-family: "Special Elite", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

button {
  color: #21043C;
  font-size: 30px;
  font-family: "Special Elite", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}